<?xml version="1.0" encoding="utf-8"?>
<module name="aprimointegration" clientResourceRelativePath="1.0.0">
	<assemblies>
		<add assembly="Aprimo.Opti" />
	</assemblies>
	<clientResources>
		<add name="aprimo-initialization" path="ClientResources/scripts/aprimoinitializer.js" resourceType="Script" sortIndex="1" />
		<add name="aprimo-initialization" path="ClientResources/scripts/editors/aprimoassetselector.js" resourceType="Script" sortIndex="1" />
	</clientResources>
	<dojo>
		<!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
		<packages>
			<add name="aprimointegration" location="ClientResources/scripts" />
		</packages>
	</dojo>
	<clientModule initializer="aprimointegration/aprimoinitializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
	<!--routes>
		<route url="{moduleArea}/{controller}/{action}/{id}" />
	</routes-->
</module>